.shadow-example {
  box-shadow: 10px 10px 5px black;
  width: 500px;
  margin: auto;
  height: 100%;
}

img {
  width: 200px;
}

#box {
  box-shadow: 10px 10px 10px black;
}

#drop {
  filter: drop-shadow(10px 10px 10px black);
}
